include LICENSE
include MANIFEST.in
include README.py
include README.rst
include examples/mul.py
include gen_manifest.sh
include setup.py
include tests/__init__.py
include tests/test_closure.py
include tests/test_parse.py
include tests/test_startup.py
include tests/test_variable.py
